<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="../css/reg_form.css" rel="stylesheet" type="text/css">
</head>
<body>

<form th:action="@{/webui/registration}" class="form-reg" enctype="form-data" method="post" th:object="${client}">

    <fieldset>
    <legend>Authentication data:</legend>
    <label for="email"> 
    <input id="email" type="text" name="email" class="form-control" placeholder="Email" required th:value="*{email}">
    </label><br>
    <label for="rawPassword">
    <input id="rawPassword" type="password" name="pass" class="form-control" placeholder="Password" required>
    </label><br>
    </fieldset>

    <fieldset for="details" th:object="${details}">
        <legend>Personal data:</legend>
        <label for="client_name">
        <input id="client_name" type="text" name="clientName" class="form-control" placeholder="Name" required th:value="*{clientName}">
        </label><br>
        <label for="client_sur_name">
        <input id="client_sur_name" type="text" name="clientSurName" class="form-control" placeholder="Surname" required th:value="*{clientSurName}">
        </label><br>
        <label for="age">
        <input id="age" type="number" name="age" class="form-control" placeholder="Age" required th:value="*{age}">
        </label>
    </fieldset>

      <div align="center"> <button class="style-button" type="submit">Register</button> </div>

</form>

<div class="validation_errors">
    <div th:if="${errorsClient}">
        <p class="validation-text-style" th:each="error : ${errorsClient}" th:text="${error.defaultMessage}">Error message</p>
    </div>
    <div th:if="${errorsDetails}">
        <p class="validation-text-style" th:each="error : ${errorsDetails}" th:text="${error.defaultMessage}">Error message</p>
    </div>
</div>

</body>
</html>