<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Main-menu</title>

  <link href="../../css/main_menu.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div th:fragment="main-menu">
  <table border="0" align="center">
    <tr>
      <td width="250" bgcolor="#CCCCCC"><div align="center" class="style-button"><strong><a class="link" href="/webui/account">ACCOUNT</a></strong></div></td>
      <td width="250" bgcolor="#CCCCCC"><div align="center" class="style-button"><strong><a class="link" href="/webui/balance">BALANCE</a></strong></div></td>
      <td width="250" bgcolor="#CCCCCC"><div align="center" class="style-button"><strong><a class="link" href="/webui/loans">LOANS</a></strong></div></td>
      <td width="250" bgcolor="#CCCCCC"><div align="center" class="style-button"><strong><a class="link" href="/webui/cards">CARDS</a></strong></div></td>
    </tr>
  </table>
</div>

</body>
</html>