<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link href="../../css/header_footer.css" rel="stylesheet" type="text/css">
</head>
<body>

<div th:fragment="footer">
<table border="0" align="center" bgcolor="#999999">
  <tr>
    <td width="760">&nbsp;</td>
    <td width="240"><div align="center" class="style-button"><a class="link" href="/webui/main">BACK TO MAIN</a></div></td>
  </tr>
</table>
</div>

</body>
</html>